canvas{

  margin-top: 50px;
}
.shape{
  padding: 5px 8px;
  background-color: goldenrod;
  border-radius: 5px;
  color: white;
}
h3{

  padding: 5px 0px ;
  width: 90%;
  border-bottom: 2px solid black;
}
span{
  width: 100px;
}

